<%= javascript_include_tag 'pingpp' %>
<script>
    pingpp.createPayment(<%= @charge.to_json.html_safe %>, function(result, err) {
      if (result=="success") {
        location.href = "<%= order_path( @order ) %>";
      } else {
        location.href = "<%= checkout_state_path(:payment) %>";
      }
    });
</script>
<body>
</body>
